{% extends 'base.html.twig' %}

{% block title %}Fiche Frais{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold mb-6"></h1>

    <div class="max-w-4xl mx-auto bg-white shadow-md rounded-lg p-6">
        <h2 class="text-xl font-semibold mb-4">Détails de la Fiche de Frais</h2>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border border-gray-300">
                <tbody class="text-gray-600">
                <tr class="border-b">
                    <th class="py-2 px-4 text-left">Id</th>
                    <td class="py-2 px-4">{{ fiche_frais.id }}</td>
                </tr>
                <tr class="border-b">
                    <th class="py-2 px-4 text-left">Mois</th>
                    <td class="py-2 px-4">{{ fiche_frais.mois ? fiche_frais.mois|date('Y-m-d') : '' }}</td>
                </tr>
                <tr class="border-b">
                    <th class="py-2 px-4 text-left">Nb Justificatifs</th>
                    <td class="py-2 px-4">{{ fiche_frais.nbJustificatifs }}</td>
                </tr>
                <tr class="border-b">
                    <th class="py-2 px-4 text-left">Montant Valid</th>
                    <td class="py-2 px-4">{{ fiche_frais.montantValid }}</td>
                </tr>
                <tr class="border-b">
                    <th class="py-2 px-4 text-left">Date Modif</th>
                    <td class="py-2 px-4">{{ fiche_frais.dateModif ? fiche_frais.dateModif|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-6">
            <a href="{{ path('app_fiche_frais_index') }}" class="inline-block bg-gray-300 hover:bg-gray-400 text-gray-700 font-bold py-2 px-4 rounded">Back to list</a>
            <a href="{{ path('app_fiche_frais_edit', {'id': fiche_frais.id}) }}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2">Edit</a>
            <a href="{{ path('app_fiche_frais_delete', {'id': fiche_frais.id}) }}" class="inline-block bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded ml-2">Delete</a>
        </div>
    </div>
{% endblock %}